<%- include('header.ejs', { titleDual:{ top: 'Qualità Aria' , bottom: 'Oggi' }, noaaLogo: false, hasTime: true }) %>
<div class="main has-scroll aqi-forecast">

    <div class="ratings-container">
        <div class="rating">PERICOLOSA</div>
        <div class="rating">MOLTO MALSANA</div>
        <div class="rating">MALSANA</div>
        <div class="rating">BUONA</div>
    </div>

    <div class="api-failure-container">
        <div class="message">ERRORE AQI</div>
    </div>

    <div class="aqi-container">
        <div class="aqi template">
            <div class="title-container">
                <div class="aqi-location title"></div>
            </div>
    
            <div class="value-container">
                <div class="aqi-index title"></div>
            </div>
    
            <div class="bar-container">
                <div class="chart">
                    <img id="chart-area"></img>
                </div>
            </div>
        </div>
    </div>

</div>
<%- include('scroll.ejs') %>
