<%- include('header.ejs', {titleDual:{ top: 'Ultime' , bottom: 'Rilevazioni' }, noaaLogo: true, hasTime: true }) %>
	<div class="main has-scroll latest-observations has-box">
		<div class="container">
			<div class="column-headers">
				<div class="temp english">&deg;F</div>
				<div class="temp metric">&deg;C</div>
				<div class="weather">Condizioni</div>
				<div class="wind">Vento</div>
			</div>
			<div class="observation-lines">
				<div class="observation-row template">
					<div class="location"></div>
					<div class="temp"></div>
					<div class="weather"></div>
					<div class="wind"></div>
				</div>
			</div>
		</div>
	</div>
	<%- include('scroll.ejs') %>
