<%- include('header.ejs', {titleDual: {top: 'Previsioni', bottom: 'di Viaggio '} , hasTime: true }) %>
<div class="main has-scroll travel">
  <div class="column-headers">
    <div class="temp low">MIN</div>
    <div class="temp high">MAX</div>
  </div>
  <div class="travel-lines">
    <div class="travel-row template">
      <div class="city"></div>
      <div class="icon"><img /></div>
      <div class="temp low"></div>
      <div class="temp high"></div>
    </div>
  </div>
</div>
<%- include('scroll.ejs') %>
